@font-face {
  font-family: 'Prime';
  src: url('../styles/fonts/Prime Regular.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'PrimeLight';
  src: url('../styles/fonts/Prime Light.otf'); /* IE9 Compat Modes */
}

@font-face {
	font-family: 'icomoon';
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2');
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2') format('embedded-opentype'),
		url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2') format('woff'),
		url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2') format('truetype'),
		url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');

// Look at code pen bookmarks for style sheets setup

// FONT
$fontFamilyRegular: 'Prime';
$fontFamilyLight: 'PrimeLight';

// COLORS
$primaryYellow: #ECDA79;
$primaryRed: #EC7971;
$primaryBlue: #1B9A96;
$primaryBlack: #393939;
$primaryWhite: #E9E9E9;

// HEADINGS
h1 {
  font-family: $fontFamilyRegular, sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: $primaryBlack;
  background: $primaryYellow;
  line-height: 1.3;
  padding: 10px 5px 0 5px;
  margin-bottom: 10px;
  letter-spacing: 1.6px;

}

h2 {
  font-family: $fontFamilyRegular, sans-serif;
  font-weight: 400;
  font-size: 36px;
  font-size: 48px;
  color: $primaryYellow;
  background: $primaryBlack;
  line-height: 0.8;
  padding: 10px 5px 0 5px;
  margin-bottom: 10px;
  letter-spacing: 1.6px;

  &.darkText {
    color: $primaryBlack;
    background: transparent;
  }
}

h3 {
  font-family: $fontFamilyRegular, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: $primaryYellow;
  line-height: 1.3;
  padding: 8px 3px 0 3px;
  margin-bottom: 10px;
  letter-spacing: 1.6px;
  text-align: center;

  &.darkText {
    color: $primaryBlack;
    background: transparent;
    line-height: 0.6;
    padding: 5px 10px 0 10px;
    margin-bottom: 5px;
    font-size: 32px;
  }

  & + p {
    font-family: "PrimeLight", sans-serif;
    font-weight: 600;
    color: #393939;
    letter-spacing: 1.6px;
    text-align: center;
    padding: 4px 20px;
  }
}

h4 {
  font-family: $fontFamilyRegular, sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: $primaryBlack;
  line-height: 1;
  padding: 1px 0.5px 0 1px;
  margin-top: 18px;
  text-align: center;

  & + p {
    font-family: "PrimeLight", sans-serif;
    font-weight: 600;
    color: #393939;
    letter-spacing: 0.6px;
    text-align: center;
    padding: 0 20px;
  }
}

// TEXT

.description-block {
  text-align: center;
}

p {
  font-family: $fontFamilyRegular, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: $primaryBlack;
  margin-bottom: 35px;
  line-height: 32px;

  &.darkText {
    color: $primaryBlack;
    background: transparent;
  }
}

span {
  color: $primaryWhite;
  font-family: $fontFamilyLight, sans-serif
}

// CONTAINER STYLES

.container {
  font-family: $fontFamilyRegular, sans-serif;
  display: grid;
  flex-direction: column;
  grid-template-columns: 55vw 45vw;
  grid-template-rows: 100vh;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 100vw;
    grid-template-rows: 35vh 65vh;
  }
}

.container-left {
  background-image: url(../images/pattern-dark.jpg);
  grid-area: 1 / 1 / 6 / 2;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .container-left {
    grid-area: 1 / 1 / 2 / 1;
  }
}

.container-right {
  background: #ECDA79;
  grid-area: 1 / 2 / 6 / 2;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .container-right {
    grid-area: 2 / 1 / 2 / 1;
  }
}

// PANEL STYLINGS

.panel-image-dark {
  background: transparent;
  text-align: left;
  padding: 0px 56px;
  height: 100%;
}

.panel-image-light {
  background: transparent;
  text-align: left;
  padding: 0px 56px;
  height: 100%;
}

.flex-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.vertically-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 20px 0;
}

.container-left {
  .show {
    position: absolute;
    top: 0;
    line-height: 0;
    transition: top 0.5s ease-out;

    p {
      line-height: 28px;
    }
  }

  .hide {
    position: absolute;
    top: -100vh;
    zoom: 1;
    transition: top 0.5s ease-out;
  }
}

.container-right {
  .show {
    position: absolute;
    top: 0;
    transition: top 0.5s ease-out;

    p {
      line-height: 28px;
    }
  }

  .hide {
    position: absolute;
    top: 100vh;
    zoom: 1;
    transition: top 0.5s ease-out;
  }
}

// NAV BUTTONS

button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 99;
}

button.up {
  height: 60px;
  width: 60px;
  position: absolute;
  left: 49vw;
  top: 15px;
  transform: rotate(270deg);
  font-size: 40px;
  color: $primaryYellow;
  letter-spacing: 0px;
  border-radius: 50%;
  border: 2px solid $primaryYellow;
  letter-spacing: 0px;

  &:before {
    content: ">";
    position: relative;
    left: 1px;
    top: -3px;
  }

  &:hover {
    color: #5a5757;
    border-color: #5a5757;
  }
}

button.down {
  height: 60px;
  width: 60px;
  position: absolute;
  left: 49vw;
  bottom: 15px;
  transform: rotate(90deg);
  font-size: 40px;
  color: $primaryYellow;
  letter-spacing: 0px;
  border-radius: 50%;
  border: 2px solid $primaryYellow;
  letter-spacing: 0px;


  &:before {
    content: "/>";
    position: relative;
    left: 3px;
    top: -5px;
  }

  &:hover {
    color: #5a5757;
    border-color: #5a5757;
  }
}

.hide-button {
  display: none;
}

// ICONS

.social-networks {
  margin: 0 0 35px;
  padding: 0;
  font-size: 0;
  text-align: center;

  li {
    display: inline-block;
  }

  a {
    display: block;
    position: relative;
    margin: 0 7px;
    width: 68px;
    height: 68px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    text-decoration: none;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      margin-top: -50%;
      margin-left: -50%;
      background-color: $primaryBlack;
      transition: all 400ms;
    }

    &:after {
      position: relative;
      display: block;
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      color: $primaryWhite;
      font-size: 26px;
      line-height: 66px;
    }

    &:hover, &:focus {
      text-decoration: none;
    }
  }

  i {
    font-size: 96px;
    padding: 10px;
    color: white;
    display: block;
    position: relative;
    margin: 0 7px;
    width: 96px;
    height: 96px;
    text-align: center;
    text-decoration: none;

    &:before {
      font-family: 'devicon';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      margin-top: -50%;
      margin-left: -50%;
      border-radius: 100px;
      transition: all 400ms;
    }
  }


  &.spin-icon a:hover:after, &.spin-icon a:focus:after {
    transition: transform 0.4s ease-out;
    transform: rotateZ(360deg);
  }

  $networks: linkedin '\eac9' #0077b5, twitter '\e618' #00b0ed, github '\eab1' #24292D;

  @each $network in $networks {
     .icon-#{nth($network, 1)} {
       &:after {
         content: '#{nth($network, 2)}';
      }

      &:hover:before, &:focus:before {
        background: nth($network, 3);
      }
    }
  }

  $skills: javascript #393939, react #61DAFB, node #83CD29;

  @each $skill in $skills {
     .skill-#{nth($skill, 1)} {
       &:before {
         background: nth($skill, 2);
      }
    }
  }
}

.editor-layout {
  position: absolute;
  line-height: 16px;
  font-size: 10px;
  color: #5a5757;
  padding: 4px;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  font-family: Menlo, Monaco, 'Courier New', monospace;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  button.down, button.up {
    right: 20px;
    left: unset;
  }

  button.down {
    color: $primaryBlack;
    border-color: $primaryBlack;
  }
}

