@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800');

.container {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  flex-direction: column;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100vh;
}

.dark-background {
  background-image: url(../images/pattern-dark.jpg);
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 100vw;
    grid-template-rows: 50vh 50vh;
  }
}

button.up {
  position: absolute;
  left: 50%;
  margin: 20px;
  padding: 20px;
}

button.down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin: 20px;
  padding: 20px;
}

.hide-button {
  display: none;
}

.container-left {
  background-image: url(../images/pattern-dark.jpg);
  grid-area: 1 / 1 / 6 / 2;
}

.container-right {
  background-image: url(../images/pattern-light.jpg);
  grid-area: 1 / 2 / 6 / 2;
}

.panel-image-dark {
  background-image: url(../images/pattern-dark.jpg);
  text-align: left;
  padding: 0px 56px;
  height: 100%;

}

.panel-image-light {
  background-image: url(../images/pattern-light.jpg);
  text-align: left;
  padding: 0px 56px;
  height: 100%;

}

.show {
  max-height: 100%;
  transition: max-height 0.5s ease-out;
}

.hide {
  max-height: 0%;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.flex-container {
  display: flex;
}

.vertically-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%
}

h1 {
  font-size: 66px;
  font-weight: 600;
}

h2.panel-title-code {
  font-size: 40px;
  font-weight: 600;
  color: #393939;
}

.panel-title-code {
  letter-spacing: 3px;
  color: #e3e3e3;
}

.panel-title-code.open-tag::before {
    content: "<";
    color: #f44747;
}

.open-tag {
  margin-right: 180px;
}

.close-tag {
  margin-left: 100px;
}

.panel-title-code.close-tag::after {
    content: " />";
    color: #f44747;
}

.scroll-target {
  height: 100%;
  width: 100%;
}

.item {
  padding: 25px;
  background: #e3e3e3;
  margin-bottom: 20px;
}

/* colorLight: #e3e3e3 */
/* colorDark: #393939 */
